@import "./global";
@import "./mixin";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}

*,
:after,
:before {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 取消链接高亮 */
}

section {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 取消链接高亮 */
}

.tapArea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
/* 图片自适应 */
img {
    height: auto;
    width: auto \9;
    /* ie8 */
    -ms-interpolation-mode: bicubic;
    /*为了照顾ie图片缩放失真*/
}
/* 初始化 */
a,
article,
aside,
body,
button,
dd,
details,
div,
dl,
dt,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
img,
input,
li,
menu,
nav,
ol,
p,
section,
select,
table,
tbody,
td,
textarea,
th,
tr,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

select {
    background: transparent;
}

body {
    font-size: 0.28rem;
    position: relative;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
    color: #484848;
    background-color: #f5f5f5;
    line-height: 150%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
}

samp,
textarea {
    font-family: Microsoft YaHei, '宋体', Tahoma, Arial, sans-serif;
    color: #484848;
}

.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #484848;
}

a:hover {
    text-decoration: none;
}

a.disabled {
    color: #bdbdbd !important;
}

input:disabled,
textarea:disabled {
    background-color: transparent;
}

li,
ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

img {
    border: none;
}
/*公用基本样式*/
body,
html {
    margin: 0;
    overflow-y: auto;
}

html {
    height: 100%;
}

*:focus {
    outline: none;
}

button,
input,
input[type="button"],
input[type="checkbox"],
input[type="num"],
input[type="password"],
input[type="radio"],
input[type="search"],
input[type="tel"],
input[type="text"],
select {
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

.t-3dot {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.va {
    vertical-align: middle;
}
/*border-radius*/
.b_radius0 {
    border-radius: 0;
}

.b_radius3 {
    border-radius: 3px;
}

.b_radius6 {
    border-radius: 6px;
}

.b_radius50 {
    border-radius: 50%;
}
/*border*/
.nobr {
    border: 0;
}
.nobr_b {
    border: none !important;
}
/*背景颜色*/
.bg_fff {
    background: #fff;
}

.bg_f0 {
    background: #f0f0f0;
}
/*text  字体颜色*/
.t_fff {
    color: #fff;
}
/*text 文字对齐*/
.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}
/*text  一行超出显示省略号*/
.t_norwrap {
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.t_bold {
    font-weight: bold;
}

.t_under {
    text-decoration: underline;
}
/*float  浮动*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.fnone {
    float: none;
}

.fcb {
    clear: both;
}
/*宽度*/
.wp20 {
    width: 20%;
}

.wp25 {
    width: 25%;
}

.wp33 {
    width: 33.33333333333333%;
}

.wp50 {
    width: 50%;
}

.wp100 {
    width: 100%;
}
/*高度*/
.hp100 {
    height: 100%;
}
/*定位*/
.re {
    position: relative;
}

.ab {
    position: absolute;
}
/*display*/
.hidden {
    display: none !important;
}

.show {
    display: block;
}

.inline_block {
    display: inline-block;
}

.inline {
    display: inline;
}
/*position*/
.fixft {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 11;
}
/*透明度*/
.opac0 {
    opacity: 0;
}

.opac1 {
    opacity: 1;
}

.twoline-ellipsis {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.break-word {
    word-wrap: break-word;
    word-break: break-all;
}
@keyframes loadingCircle {
    100% {
        transform: rotate(360deg);
    }
}

.global-loading-icon {
    background: url('../images/loading1.png') no-repeat;
    animation: loadingCircle 1.2s infinite linear;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 4px;
}

.loading-item {
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;

    span {
        display: inline-block;
        margin-left: 0.1rem;
        vertical-align: middle;
    }
}

.global-loading-icon1 {
    background: url('../images/loading.png') no-repeat;
    animation: loadingCircle 1.2s infinite linear;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background-size: 0.4rem 0.4rem;
    vertical-align: middle;
}
// flex样式

.am-flexbox {
    text-align: left;
    overflow-y: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    position: relative;

    &.am-flexbox-wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    &.am-flexbox-justify-between {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -moz-box-pack: justify;
        justify-content: space-between;
    }

    &.am-flexbox-dir-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
    }

    &.am-flexbox-align-middle {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -moz-box-align: center;
        align-items: center;
    }

    &.am-flexbox-align-top {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -moz-box-align: start;
        align-items: flex-start;
    }

    .am-flexbox-item {
        -webkit-box-sizing: border-box;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        -moz-box-flex: 1;
        flex: 1;
        min-width: 10px;
    }
}
// iscroll样式

%default-scroll-wrap {
    position: absolute;
    width: 100%;
}

%scrollWrap {
    @extend %default-scroll-wrap;
    bottom: 0.98rem;
}

.scroll-wrapper {
    @extend %scrollWrap;
    top: 0.88rem;
}

.bottom-scroll-wrapper {
    @extend %scrollWrap;
    top: 0;
}

.full-scroll-wrapper {
    @extend %default-scroll-wrap;
    top: 0;
    bottom: 0;
}
@keyframes bouncedelay {
    0%,
    100%,
    80% {
        transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
    }
}

.pullDownLabel,
.pullUpLabel {
    width: 100%;
    clear: both;
    height: 30px;
    text-align: center;
    position: relative;

    > div {
        width: 10px;
        height: 10px;
        background-color: #ffa11b;
        border-radius: 100%;
        display: inline-block;
        animation: bouncedelay 1.4s infinite ease-in-out;
        animation-fill-mode: both;
        margin-top: 10px;
    }

    .bounce1 {
        animation-delay: -.3s;
    }

    .bounce2 {
        animation-delay: -.2s;
    }

    .bounce3 {
        animation-delay: -.1s;
    }
}

.pullUpLabel {
    display: none;
}
// module的共用样式

.top-bottom-cont{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    display: none;
    z-index: 1024;
    background-color: #f0f0f0;
}

.right-left-cont {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1024;
    background-color: #f0f0f0;
}

.right-left-cont-title {
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
    color: #000;
    position: relative;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    margin-bottom: 0.1rem;
}

.right-left-cont-back {
    width: 0.8rem;
    height: 0.8rem;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAhCAMAAADj/gtmAAAAXVBMVEUAAACPj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4/ShKOpAAAAHnRSTlMA+/ICzBILBtT27OfYwrupnmhYSTsyJxm2sWBQQSxZCgntAAAAc0lEQVQoz4XSSQ6DMBBEUXAmJxAS5rnuf0zYFl8CL58suV1dyeF0eXGUTNFlzZT3Ju1HEXJ/mDThWpag79OkfotSuMyphpdJlWqE/FymXW4mpfS/kiQomuAWjC9yrrPp+UcmwbyYKrM/M+6R22Yn2Bz2awMrKgnwgdZu+wAAAABJRU5ErkJggg==");
    background-position: 0.2rem center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 0.2rem;
}

.right-left-cont-title-name {
    text-align: center;
    color: #333;
}

.form-wrapper {
    .form-item {
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 0.3rem;
        background: #fff;
        @include border-bottom-1px($border-color);

//      &:last-child {
//          @include border-none();
//      }

        &.form-btn-item {
            padding: 0.2rem 0.3rem;
        }

        .item-title {
            display: inline-block;
            width: 1.4rem;
            font-size: 0.28rem;
            height: .34rem;
            line-height: .34rem;
        }

        .input-item {
            position: relative;
            flex: 1;
            font-size: 0.3rem;
            color: #333;

            &:disabled{
                color: #333;
            }

            &.placeholder{
                color: #757575;
            }
        }

        .item-button {
            width: 2rem;
        }

        input[type="number"],
        input[type="tel"],
        input[type="text"],
        input[type="password"]{
            height: .34rem;
            font-size: 0.3rem;
            line-height: .34rem;
            color: #333;
            background-color: transparent;
        }

        .smsCaptcha-item{
            input[type="text"]{
                width: 3.2rem;
            }
        }

        .select-item {
            height: .34rem;
            line-height: .34rem;
            position: relative;
            flex: 1;
            font-size: 0.3rem;
            color: #333;
        }
        .textarea-item {
            height: 3rem;
            position: relative;
            flex: 1;
            font-size: 0.3rem;
            color: #333;
        }

    }
}

button[disabled] {
    background-color: $btn-disabled-border-color;
    border-color: $btn-disabled-bg-color;
}

.primary-wrap {
    padding: 0.3rem 0.2rem;
    margin-top: 0.4rem;
}
// button样式

.am-button {
    display: block;
    outline: 0 none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    padding: 0;
    text-align: center;
    font-size: 0.36rem;
    height: 0.8rem;
    line-height: 0.8rem;
    -webkit-border-top-left-radius: 0.08rem;
    border-top-left-radius: 0.08rem;
    -webkit-border-top-right-radius: 0.08rem;
    border-top-right-radius: 0.08rem;
    -webkit-border-bottom-left-radius: 0.08rem;
    border-bottom-left-radius: 0.08rem;
    -webkit-border-bottom-right-radius: 0.08rem;
    border-bottom-right-radius: 0.08rem;
    -webkit-background-clip: padding-box;
    color: #000;
    background-color: #fff;
}
.am-button-noradius{
    border-radius: 0 !important;
}
.am-button-primary {
    color: #fff;
    background-color: $primary-color;
}

.am-button-red {
    color: #fff;
    background-color: $red-color;
}

.am-button-inline {
    display: inline-block;
    padding: 0 0.3rem;
}

.am-button-small {
    font-size: 0.26rem;
    height: 0.6rem;
    line-height: 0.6rem;
    -webkit-border-top-left-radius: 0.08rem;
    border-top-left-radius: 0.08rem;
    -webkit-border-top-right-radius: 0.08rem;
    border-top-right-radius: 0.08rem;
    -webkit-border-bottom-left-radius: 0.08rem;
    border-bottom-left-radius: 0.08rem;
    -webkit-border-bottom-right-radius: 0.08rem;
    border-bottom-right-radius: 0.08rem;
    -webkit-background-clip: padding-box;
    padding: 0 0.3rem;
}

.am-button-ghost {
    color: $primary-color;
    background-color: transparent;
    border: 1px solid $primary-color;
}

.am-button-ghost.am-button-disabled,
.am-button-primary.am-button-disabled,
.am-button-warning.am-button-disabled,
.am-button.am-button-disabled {
    color: #bbb;
    background-color: #ddd;
    border: 0;
}

.am-whitespace-sm {
    height: 0.2rem;
}

.am-whitespace-md {
    height: 0.38rem;
}

.am-whitespace-lg {
    height: 0.6rem;
}

.am-whitespace-xl {
    height: 0.98rem;
}

.am-whitespace-xxl {
    height: 1.2rem;
}

.am-tabs {
    .am-tabs-bar {
        height: 0.87rem;
        overflow: hidden;
        position: relative;
        background-color: #fff;

        .am-tabs-ink-bar {
            position: absolute;
            bottom: 0;
            height: 0.04rem;
            background-color: $primary-color;
        }

        .am-tabs-ink-bar-animated {
            -webkit-transition: -webkit-transform 0.3s cubic-bezier(.86,0,.07,1);
            transition: -webkit-transform 0.3s cubic-bezier(.86,0,.07,1);
            transition: transform 0.3s cubic-bezier(.86,0,.07,1);
            transition: transform 0.3s cubic-bezier(.86,0,.07,1),-webkit-transform 0.3s cubic-bezier(.86,0,.07,1);
        }

        .am-tabs-tab {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            -ms-flex-pack: center;
            border-bottom: 1px solid $border-color;
            font-size: 0.3rem;
            height: 0.87rem;
            line-height: 0.87rem;
            background-color: #fff;
            box-sizing: border-box;
        }
    }

    .am-tabs-content {
        zoom: 1;

        .am-tabs-tabpane {
            overflow: auto;
            box-sizing: border-box;
            width: 100%;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        .am-tabs-tabpane-inactive {
            height: 0;
            width: 0;
            overflow: hidden;
        }
    }

    .am-tabs-content-animated {
        -webkit-transition: -webkit-transform 0.3s cubic-bezier(.86,0,.07,1);
        transition: -webkit-transform 0.3s cubic-bezier(.86,0,.07,1);
        transition: transform 0.3s cubic-bezier(.86,0,.07,1);
        transition: transform 0.3s cubic-bezier(.86,0,.07,1),-webkit-transform 0.3s cubic-bezier(.86,0,.07,1);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        will-change: transform;
    }
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

.am-badge-text {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: -.12rem;
    height: 0.36rem;
    line-height: 0.36rem;
    min-width: 0.18rem;
    border-radius: 0.24rem;
    padding: 0 0.12rem;
    text-align: center;
    font-size: 0.24rem;
    color: #fff;
    background-color: $primary-color;
    white-space: nowrap;
    -webkit-transform: translateX(-45%);
    -ms-transform: translateX(-45%);
    transform: translateX(-45%);
    -webkit-transform-origin: -10% center;
    -ms-transform-origin: -10% center;
    transform-origin: -10% center;
    z-index: 10;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,SimSun,sans-serif;
}

.am-badge-not-a-wrapper .am-badge-dot,
.am-badge-not-a-wrapper .am-badge-text {
    top: auto;
    display: block;
    position: relative;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.am-badge {
    position: relative;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

.ui-dialog-footer button {
    padding: 6px 20px !important;
}

.right-left-btn{
    position: fixed;
    left: 100%;
    bottom: 0;
    z-index: 11;
}

.am-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .4);
}

.am-modal-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.am-modal {
    position: relative;
    width: 6.14rem;
    height: auto;

    .am-modal-content {
        position: relative;
        background-color: #fff;
        border: 0;
        background-clip: padding-box;
        text-align: center;
        height: 100%;
        overflow: hidden;
        border-radius: .2rem;
        height: auto;
        padding-top: 0;
    }
    .am-modal-header{
        padding: .3rem .3rem .2rem;
    }
    .am-modal-body {
        font-size: .28rem;
        color: #888;
        height: 100%;
        max-height: 4.6rem;
        overflow-y: scroll;
        padding: .1rem .6rem;
        text-align: left;
    }
    .am-modal-footer{
        overflow: hidden;
        padding: .4rem .58rem;
    }
}
.no-data {
    line-height: 1rem;
    text-align: center;
    font-size: 0.28rem;
}
.no-data-img{
    width: 100%;
    text-align: center;
    padding-top: 2rem;

    img{
        width: 2.1rem;
        margin-left: .56rem;
    }

    p{
        font-size: .28rem;
        color: #999;
        margin-top: .2rem;
    }
}
.load-all {
    padding: 0.3rem 0;
    text-align: center;

    img {
        width: 0.44rem;
        vertical-align: middle;
    }

    span {
        font-size: 0.24rem;
        color: #999;
        padding-left: 0.1rem;
    }
}

blockquote {
    padding: .1rem .2rem;
    margin: 0 0 .2rem;
    font-size: .24rem;
    border-left: .05rem solid #eee;
}