html,
body {
    font-size: 100px;
}

body {
    margin: 0 auto;
    color: #484848;
    font-size: .24rem;
    line-height: inherit;
}

div {
    font-size: .24rem;
}

samp,
i,
b,
input {
    font-family: "microsoft yahei", "microsoft sans serif";
}


/* 公共 */

.fs0 {
    font-size: 0;
}

.fs15 {
    font-size: .26rem;
}

.over-hide {
    overflow: hidden;
}

.plr3r {
    padding-left: .3rem;
    padding-right: .3rem;
}

.ptb15r {
    padding-top: .15rem;
    padding-bottom: .15rem;
}

.pb1r {
    padding-bottom: .1rem;
}

.pt100r {
    padding-bottom: 1rem;
}

.pl {
    padding-left: .6rem;
}

.bg_fff {
    background-color: #fff;
}

.bg_f0 {
    background-color: #f0f0f0;
}

.bb {
    border-bottom: 1px solid #eee;
}

.hook {
    display: inline-block;
    width: 0;
    height: 100%;
    overflow: hidden;
    margin-left: -.01rem;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
}

.pz9 {
    position: relative;
    z-index: 9;
}

.hiddeni{
	display: none !important;
}

/*注册*/

.bg-r {
    background-image: url(../images/bg1.png);
    background-position: center;
    background-size: cover;
}

.bg-b {
    background-image: url(../images/bg2.png);
    background-position: center;
    background-size: cover;
}

.r-wrap {
    margin-top: 3.3rem;
    padding: 0 .4rem;
}

.r-telWrap {
    width: 100%;
    height: .9rem;
    background-color: #ffffff;
    border-radius: .1rem;
    overflow: hidden;
    position: relative;
    margin-bottom: .2rem;
}

.r-icon {
    width: 2rem;
    height: .36rem;
    text-align: left;
    margin-left: 20px;
    position: absolute;
    top: .27rem;
    left: 0;
    color: #484848;
    /*border-right: 1px solid #fff;*/
}

.r-icon img {
    height: .3rem;
    margin-top: .02rem;
}

.r-style {
    width: 100%;
    height: .9rem;
    /*line-height: .9rem;*/
    margin-top: .27rem;
    background-color: transparent;
    padding: 0 .1rem 0 1.2rem;
    color: #fff;
    font-size: .28rem;
    border-radius: .1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.r-input {
    width: 100%;
    height: .9rem;
    /*line-height: .9rem;*/
    margin-top: 0;
    background-color: transparent;
    padding: 0 .1rem 0 1.2rem;
    color: #333333;
    font-size: .28rem;
    border-radius: .1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    margin-left: .7rem;
}

.rbtn-captcha {
    width: 1.6rem;
    height: .6rem;
    border: 1px solid #fff;
    border-radius: .1rem;
    line-height: .6rem;
    text-align: center;
    color: #ffffff;
    font-size: .25rem;
    position: absolute;
    top: .15rem;
    right: .3rem;
    z-index: 999;
    background-color: #ffb912;
}

.rbtn-sub {
    width: 100%;
    height: .9rem;
    border-radius: .1rem;
    background-color: #ffb912;
    line-height: .9rem;
    margin-top: .44rem;
    color: #fff;
    font-size: .3rem;
    text-align: center;
}

.r-input-placeholder {
    margin-left: 0.6rem;
    color: #aaaaaa;
    z-index: 9;
}

.rtxt {
    display: inline-block;
    overflow: hidden;
    color: #fff;
    font-size: .3rem;
    margin-top: .25rem;
    padding: .05rem .3rem .1rem;
    line-height: 2;
}

.r-popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;
}

.r-popup-html {
    width: 90%;
    height: 90%;
    background-color: #fff;
    overflow-y: auto;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 5px;
}

.r-popup-body {
    width: 100%;
    height: 100%;
    padding: .3rem;
}

.r-popup-tit {
    font-size: .32rem;
    font-weight: normal;
    text-align: center;
    line-height: 2;
}

.r-popup-conten {
    margin-top: .2rem;
    font-size: .24rem;
    line-height: 1.8;
}

.r-popup-conten p {
    font-size: .24rem;
    line-height: 1.8;
}

.r-popup-conten img {
    max-width: 100%;
}

.r-popup-close {
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #727272;
    position: fixed;
    top: 5%;
    right: 5%;
    margin-top: -.3rem;
    margin-right: -.3rem;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

.r-popup-close img {
    width: .4rem;
    margin-top: .07rem;
    margin-left: .07rem;
    transform: rotate(45deg);
}


/*弹窗*/
.ui-popup-backdrop {
    opacity: .4 !important;
}

.ui-popup {
    width: 5rem;
}

.ui-dialog-grid {
    width: 100% !important;
}

.ui-dialog-body {
    padding: .3rem 0 .2rem !important;
}

.ui-dialog-title{
    font-size: .28rem;
    font-weight: normal !important;
    padding: .2rem .3rem .15rem !important;
}
.ui-dialog-close{
	top: .13rem !important;
    right: .15rem !important;
    _height: .46rem !important;
    padding: 0 .15rem !important;
    font-size: .46rem !important;
}

.ui-dialog-content {
    line-height: 1.6;
    font-size: .3rem;
    padding: 0 .3rem;
}

.ui-dialog-button {
    float: inherit !important;
    text-align: center;
    padding-bottom: .1rem;
}
.ui-dialog-footer{
	padding: 0 .2rem .25rem !important;
}
.ui-dialog-footer button {
    display: none !important;
}

.ui-dialog-footer button.ui-dialog-autofocus {
    display: inline-block !important;
    margin: 0 auto;
    background-color: #ff4332 !important;
    border-color: #ff4332 !important;
    font-size: .25rem;
    padding: .1rem .25rem;
    outline: none !important;
}

.captchaTimeBg {
    background-color: #DEDEDE
}

.r-popup-div {
    position: relative;
    z-index: 9999;
    padding: .2rem .1rem;
}

.r-popup-div img {
    height: .26rem;
    position: absolute;
    right: .1rem;
    top: .23rem;
}

.popup-Btn {
    margin-top: .35rem;
    text-align: center;
}

.popup-Btn input[type='button'] {
    height: .6rem;
    padding: 0 .3rem;
    color: #fff;
    font-size: .27rem;
    border-radius: 5px;
    background-color: #ff4332;
}

.btn-md {
    padding: 0 .3rem;
    color: #fff;
    background-color: #FF4332;
    border-radius: 3px;
    height: .58rem;
    line-height: .58rem;
    font-size: .28rem;
}

/*下载二维码页*/
.s-qrcord {
    width: 100%;
    height: 100%;
    background-image: url(../images/bgShage.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.sq-btn {
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: 2.8rem;
    color: #fff;
    font-size: .35rem;
    line-height: .78rem;
    text-align: center;
    opacity: .9;
}

.logo-img {
    width: 2.55rem;
    height: 2.55rem;
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 33%;
    top: 16%
}

.logo-font {
    color: #fff;
    font-size: .50rem;
    line-height: .78rem;
    text-align: center;
    padding-top: 4.8rem;
    letter-spacing: 3px;
    font-weight: bold;
}

.logo-font p {
    margin-top: -10px;
    letter-spacing: 0px;
}

/*下载按钮页*/
.uploadBg{
	background-color: #ff7d0e;
	background-image: url("../images/图标@2x.png");
	background-position-y: -.18rem;
	background-position-x: .35rem;
	background-repeat: no-repeat;
	background-size: 6.98rem;
}
.upload-logo{
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 0;
	margin-top: .68rem;
}
.upload-logo img{
	width: 3.14rem;
}
.uploadWrap{
	margin-top: 6rem;
}
.upload-btn{
	display: block;
	width: 5.7rem;
	height: 1.06rem;
	margin: 0 auto;
	background-position-y: center;
	background-position-x: .95rem;
	background-repeat: no-repeat;
	background-size: auto .5rem;
	background-color: #fff;
	border-radius: .14rem;
	margin-bottom: .5rem;
}
.upload-android{
	background-image: url("../images/安卓@2x.png");
}
.upload-ios{
	background-image: url("../images/苹果@2x.png");
}

.rs-wrap{
	width: 100%;
}
.rs-wrap .icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.rs-top{
	text-align: center;
	width: 100%;
	padding: .8rem 0;
}
.rs-top .icon{
	width: .44rem;
	height: .44rem;
	position: relative;
	top: .08rem;
	margin-right: .1rem;
	background-image: url('../images/成功@2x.png');
}
.rs-top samp{
	font-size: .36rem;
}
.rs-line{
	width: 100%;
	height: .2rem;
	background-color: #f7f7f7;
}
.rs-con{
	width: 100%;
	padding: .4rem;
}
.rs-con .txt{
	font-size: .26rem;
	line-height: 2;
}
.rs-btn{
	width: 100%;
	overflow: hidden;
	margin-top: .3rem;
}
.rs-btn .wrap{
	width: 3.2rem;
	border: 1px solid #f15353;
	border-radius: .04rem;
	padding: .15rem 0;
	text-align: center;
	background-color: #fff;
}
.rs-btn .wrap samp{
	color: #F15353;
	font-size: .26rem;
}
.rs-btn .wrap .icon{
	width: .3rem;
	height: .3rem;
	background-size: .25rem;
	position: relative;
	margin-right: .1rem;
}
.rs-btn .wrap.href .icon{
	background-image: url('../images/链接@2x.png');
	top: .03rem;
}
.rs-btn .wrap.qrcode .icon{
	background-image: url('../images/二维码@2x.png');
	top: .04rem;
}
.rs-bottom{
	width: 100%;
	padding: 0 .4rem;
	position: absolute;
	bottom: .2rem;
	left: 0;
}
.rs-bottom .btn{
	display: inline-block;
	width: 100%;
	line-height: .68rem;
	background-color: #F15353;
	color: #fff;
	font-size: .26rem;
	text-align: center;
	border-radius: .04rem;
}

.upload-mask{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	padding-right: .6rem;
	padding-top: .2rem;
}
.upload-mask img{
	width: 2rem;
	float: right;
}
.upload-mask p{
	position: absolute;
    top: 2.2rem;
    right: 2.4rem;
    color: #fff;
    text-align: center;
    font-size: .28rem;
}
.bg-qr {
    background-image: url(../images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.qr-wrap{
	width: 100%;
	height: 100%;
	text-align: center;
}
.qr-wrap .qrcode{
	width: 3.6rem;
	height: 3.6rem;
	margin: 0 auto;
	overflow: hidden;
	padding: .6rem;
	background-image: url('../images/二维码bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.qr-wrap .qrcode div{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.qr-wrap .qrcode img{
	width: 100%;
}
.qr-wrap .img-title{
	padding: .76rem 1.3rem 0;
}
.qr-wrap .img-down{
	height: .3rem;
	margin-top: .46rem;
	margin-bottom: .76rem;
}
.qr-wrap .img-down img{
	height: 100%;
}
.qr-wrap .img-time{
	margin-top: .8rem;
	padding: 0 1.4rem;
}
.canvasWrap{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.canvasWrap-img{
	z-index: 9999;
}
.am-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, .4);
}

.am-modal-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.am-modal {
    position: relative;
    z-index: 999;
    width: 6.14rem;
    height: auto;
}
.am-modal .am-modal-content {
    background-color: #fff;
    border: 0;
    background-clip: padding-box;
    text-align: center;
    height: 100%;
    overflow: hidden;
    border-radius: .2rem;
    height: auto;
    padding: .3rem .3rem .2rem;
    font-size: .28rem;
}
.am-modal .am-modal-content .href{
	border: 1px solid #eee;
	padding: .15rem 0;
	margin: .2rem 0;
}
.nodeinfoContainer{
	width: 100%;
    background-color: #F15353;
    padding-bottom: .5rem;
}
.nodeinfoContainer img{
	height: 1.2rem;
    margin-top:.6rem;
    margin-left:.3rem
}
.nodeinfoButtons{
    margin-top:0.5rem;
    padding-top:0.5rem
}
.nodeinfoButtons input{
    text-align:left;
    padding-left:0.2rem;
    font-size:0.3rem
}
.nodeinfo-wrap{
	width: 100%;
	padding: 0 .35rem;
}
.nodeinfo-wrap .item{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	font-size: .3rem;
	background-color: #fff;
	border-radius: .04rem;
	padding: 0 .2rem;
	margin: .3rem 0;
	text-align: left;
}
.nodeinfo-wrap .title{
	position: relative;
}
.nodeinfo-wrap .title samp{
	position: relative;
	z-index: 99;
	display: inline-block;
	font-size: .36rem;
	color: #fff;
	background-color: #F15353;
	padding: .05rem .1rem;
	margin-left: .3rem;
}
.nodeinfo-wrap .title i{
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 0;
}
